div#container
{
    background-color:#FFF;
    opacity:.8; 
    min-height: 200px;

}

div.cancel_form_contianer{
    
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;

}

div#container_form_cancel
{
    border: solid black 2px; 
    min-height: 130px;
}

div#container_form_cancel a{
    margin-bottom:20px;
}

div#container_form_cancel h3, h2, h1{
    color: #666;
}