div#contain{
    background-color:#FFF; 
    opacity:.8; 
    min-height: 200px;
}

div#thankyou_container{
    width: 100%;
    text-align: center;
}

div.thankyou_container_text{
    border: solid black 2px; 
    min-height: 130px;
}

div.thankyou_container_text h1, h2, h3, p{
    color: #666;
}

div.thankyou_container_text a {
    margin-bottom: 20px;
}

